---
const { frontmatter } = Astro.props;
const { title, pub_date, description, author, image } = frontmatter;

import Layout from "./Layout.astro";

const date = new Date(pub_date).toLocaleDateString(undefined, {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<Layout title={title}>
  <main class="container prose max-w-5xl py-32 dark:prose-invert">
    <h1>{title}</h1>
    <p>{date}</p>
    <p><em>{description}</em></p>
    <p>Author: <span class="font-bold">{author}</span></p>
    <img src={image.url} class="aspect-video max-w-full" alt={image.alt} />
    <slot />
  </main>
</Layout>
