---
import Icon, { type IconName } from "@components/ui/icon";
import { getBaseUrl } from "@lib/utils";
import { NAVIGATIONS } from "@constants";
const url = getBaseUrl();
const contacts = [
  {
    href: "https://github.com/BayuPrasetyaUtomo",
    label: "github",
  },
  {
    href: "https://discordapp.com/users/774211836123021323",
    label: "discord",
  },
  {
    href: "https://www.linkedin.com/in/bayu-utomo-b129bb235/",
    label: "linkedIn",
  },
  {
    href: "bayu.prasetya.utomo@gmail.com",
    label: "email",
  },
] as const;
---

<footer
  class="flex flex-col gap-20 border-primary/80 py-16 font-semibold shadow shadow-foreground"
>
  <div
    class="container flex flex-col items-center justify-between gap-8 md:flex-row"
  >
    <ul class="flex flex-row gap-2 md:flex-col">
      {
        NAVIGATIONS.map(({ href, label }) => (
          <li class="capitalize">
            <a href={`${url}/${href}`}>{label}</a>
          </li>
        ))
      }
    </ul>
    <ul class="flex gap-6">
      {
        contacts.map(({ label, href }) => (
          <li class="flex flex-col items-center gap-2 text-sm capitalize">
            <span>{label}</span>
            {label === "email" ? (
              <abbr title="click to copy">
                <Icon
                  id="email"
                  name={label.toLowerCase() as IconName}
                  className="hover:text-primary/80 size-6 cursor-pointer"
                />
              </abbr>
            ) : (
              <a
                href={href}
                class="hover:text-primary/80"
                rel="noopener noreferrer"
                target="_blank"
              >
                <Icon name={label.toLowerCase() as IconName} />
              </a>
            )}
          </li>
        ))
      }
    </ul>
  </div>
  <p class="text-center text-xl font-medium">© 2024 - Katakatari</p>
</footer>

<script>
  const email = document.querySelector("#email");
  email?.addEventListener("click", () =>
    navigator.clipboard.writeText("bayu.prasetya.utomo@gmail.com"),
  );
</script>
